#header {
    width: 100vw;
    margin-bottom: 20px;
    background-color: lightseagreen;
    min-height: 75px;
}

.red {
    color: red;
}

.green {
    color: green;
}

#collapseNewBook, #collapseNewRenter {
    margin-bottom: 20px;
}

table thead tr{
    background-color: grey;
}

table tbody tr {
    cursor: pointer;
}

table tbody tr:nth-child(even) {
    background-color: #D3D3D3;
}

table tbody tr:hover {
    background-color: #B2B2B2;
}

textarea {
    resize: none;
}

.newbookbtn, .homebtn {
    margin: auto;
}

.renter_details, .newbook, .newuser {
    margin: 10px;
}